body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.options {
  margin-bottom: 20px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  display: none;
}

.pagination {
  text-align: center;
}

#repositories {
  margin-bottom: 20px;
}

.repository {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.repository img {
  max-width: 100%;
  height: auto;
}
